html {
  scroll-behavior: smooth;
}
body {
  background-color: #f1f2f2;
}

@media (min-width: 1600px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1540px;
  }
}
.bold-text {
  font-weight: 700;
}
.faded-text {
  font-weight: 100;
}
.blue-text {
  color: blue;
}
.large-text {
  font-size: 1.7rem;
}
.smaller-text {
  font-size: 0.9rem;
}
.white-background {
  background-color: white;
}
.slight-border-radius {
  border-radius: 10px;
}
.profile-image {
  border-radius: 50%;
}
.post-hover:hover {
  cursor: pointer;
  background-color: gray;
}
.navBar-sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}
.categories-sticky {
  position: sticky;
  top: 80px;
}
.recent-posts-sticky {
  position: sticky;
  top: 80px;
}
.jumbotron-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.my-flex-grow {
  flex-grow: 1;
}
.comment-button {
  font-size: 14px;
}
.recent-sidebar-a {
  width: 100%;
  color: black;
}
.recent-sidebar-a:hover {
  text-decoration: none;
  color: black;
}
.best-comment {
  background-color: rgb(241, 254, 230);
}
.add-comment-bg {
  background: rgb(234, 233, 233);
}
/* .jumbotron-categories {
  background-image: url('../../images/Philosophy.jpg');
} */
.bc-left {
  border-left: solid green;
}
.chat-main-container {
  display: flex;
  justify-content: end;
  position: fixed;
  right: 30px;
  bottom: 30px;
}
.chat-main-col {
  background-color: lightblue;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.chat-main-col:hover {
  cursor: pointer;
}
.chat-popup-container {
  width: 20vw;
  position: fixed;
  right: 60px;
  bottom: 130px;
  min-height: 500px;
  max-height: 75vh;
  overflow: auto;
  background-color: rgb(212, 219, 250);
  z-index: 1;
}
.category-chat-box-col {
  /* position: absolute;
  bottom: 0;*/
  margin-bottom: 12px;
}

.chat-popup-top {
  background-color: rgb(119, 143, 252);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-top: 12px;
  padding-top: 12px;
}
.main-popup-chat-col::-webkit-scrollbar {
  width: 10px;
}
.main-popup-chat-col::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 20px;
}
.single-message-row {
  background: white;
  border-radius: 15px;
  margin: 10px;
}
.wider-container {
  max-width: 1700px;
}
.left-category-name-text {
  font-size: 20px;
  font-weight: 500;
}
.likes-count-text {
  color: green;
}
.icon-hover:hover {
  cursor: pointer;
  fill: rgb(59, 59, 251);
}
.cancel-bottom-border-radius {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.cancel-top-border-radius {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.kudos-profile {
  font-size: 80px;
}
.recent-post-design {
  background-color: rgb(8, 8, 8);
  color: white;
}
.left-categories-hover:hover {
  border-left: solid;
  cursor: pointer;
}
.border-bottom-profile {
  border-bottom: solid;
  border-width: 0.1px;
}
.border-bottom-middle-profile {
  border-bottom: solid;
  border-width: 0.1px;
}
