html {
  scroll-behavior: smooth;
}
body {
  background-color: #f1f2f2;
}
.bold-text {
  font-weight: 700;
}
.faded-text {
  font-weight: 100;
}
.blue-text {
  color: blue;
}
.large-text {
  font-size: 1.7rem;
}
.smaller-text {
  font-size: 0.9rem;
}
.white-background {
  background-color: white;
}
.slight-border-radius {
  border-radius: 10px;
}
.profile-image {
  border-radius: 50%;
}
.post-hover:hover {
  cursor: pointer;
  background-color: gray;
}
.navBar-sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}
.categories-sticky {
  position: sticky;
  top: 80px;
}
.recent-posts-sticky {
  position: sticky;
  top: 80px;
}
.jumbotron-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.my-flex-grow {
  flex-grow: 1;
}
.comment-button {
  font-size: 14px;
}
.recent-sidebar-a {
  width: 100%;
  color: black;
}
.recent-sidebar-a:hover {
  text-decoration: none;
  color: black;
}
/* .best-comment {
  background-color: gray;
} */
.add-comment-bg {
  background: rgb(234, 233, 233);
}
