html {
  scroll-behavior: smooth;
}
body {
  background-color: #f1f2f2;
}

@media (min-width: 1600px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1540px;
  }
}
.bold-text {
  font-weight: 700;
}
.faded-text {
  font-weight: 100;
}
.blue-text {
  color: blue;
}
.large-text {
  font-size: 1.7rem;
}
.smaller-text {
  font-size: 0.9rem;
}
.white-background {
  background-color: white;
}
.slight-border-radius {
  border-radius: 10px;
}
.profile-image {
  border-radius: 50%;
}
.post-hover:hover {
  cursor: pointer;
  background-color: gray;
}
.navBar-sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}
.categories-sticky {
  position: sticky;
  top: 80px;
}
.recent-posts-sticky {
  position: sticky;
  top: 80px;
}
.jumbotron-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.my-flex-grow {
  flex-grow: 1;
}
.comment-button {
  font-size: 14px;
}
.recent-sidebar-a {
  width: 100%;
  color: black;
}
.recent-sidebar-a:hover {
  text-decoration: none;
  color: black;
}
.best-comment {
  background-color: rgb(241, 254, 230);
}
.add-comment-bg {
  background: rgb(234, 233, 233);
}
/* .jumbotron-categories {
  background-image: url('../../images/Philosophy.jpg');
} */
.bc-left {
  border-left: solid green;
}
.chat-main-container {
  display: flex;
  justify-content: end;
  position: fixed;
  right: 30px;
  bottom: 30px;
}
.chat-main-col {
  background-color: lightblue;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.chat-main-col:hover {
  cursor: pointer;
}
.chat-popup-container {
  width: 20vw;
  position: fixed;
  right: 60px;
  bottom: 130px;
  min-height: 500px;
  max-height: 75vh;
  overflow: auto;
  background-color: white;
  z-index: 1;
}
.category-chat-box-col {
  /* position: absolute;
  bottom: 0;*/
  margin-bottom: 12px;
}

.chat-popup-top {
  background-color: black;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-top: 12px;
  padding-top: 12px;
}
.main-popup-chat-col::-webkit-scrollbar {
  width: 10px;
}
.main-popup-chat-col::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 20px;
}
/* .main-popup-chat-col {
  background-color: #000;
} */
.single-message-row {
  background: white;
  color: black;
  border-radius: 15px;
  margin: 10px;
}
.wider-container {
  max-width: 1700px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.left-category-name-text {
  font-size: 20px;
  font-weight: 500;
}
.likes-count-text {
  color: blue;
  font-size: 22px;
}
.icon-hover:hover {
  cursor: pointer;
  fill: rgb(59, 59, 251);
}
.cancel-bottom-border-radius {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.cancel-top-border-radius {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.kudos-profile {
  font-size: 80px;
}
.recent-post-design {
  background-color: rgb(8, 8, 8);
  color: white;
}
.left-categories-hover:hover {
  border-left: solid;
  cursor: pointer;
}
.border-bottom-profile {
  border-bottom: solid;
  border-width: 0.1px;
}
.border-bottom-middle-profile {
  border-bottom: solid;
  border-width: 0.1px;
}
.recent-posts-container {
  overflow: auto;
  height: 93vh;
}
.recent-posts-container::-webkit-scrollbar {
  width: 10px;
}
.recent-posts-container::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 20px;
}
.profile-main-container {
  height: 70vh;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-direction: column; */
  border-radius: 15%;
}
.check-your-kudos {
  font-size: 80px;
  font-weight: 100;
}
.check-back-again {
  font-size: 40px;
  font-weight: 100;
}
.doing-good {
  color: green;
}
.doing-bad {
  color: red;
}
.great-helper {
  fill: gold;
}
.sender {
  font-weight: 700;
}
.message {
  font-weight: 100;
}
.chat-icon-colors {
  color: black;
  background: white;
}
.login-container {
  margin-top: 50px;
  max-width: 700px;
  background: white;
  border-radius: 15px;
  padding-bottom: 30px;
  padding-top: 40px;
  padding-left: 24px;
  padding-right: 24px;
}
.profile-text-row-column {
  width: 500px;
}
.profile-col-height {
  height: 170px;
}
.profile-col-height-a {
  height: 160px;
}
.navbar-text {
  font-size: 35px;
}
.input-nav {
  font-size: 24px;
  padding-left: 24px;
}
.border-left-categories {
  border-bottom: solid black;
  border-width: 0.1ch;
  padding-bottom: 10px;
}
.custom-profile-posts {
  background-color: rgb(228 228 228);
  color: black;
}
.opacity-difference {
  opacity: 100%;
}
.margin-bottom-custom-profile {
  margin-bottom: 30px;
}
.left-login-container {
  background-color: black;
  height: 100vh;
  margin-top: 50px;
  border-radius: 15px;
}
